<div class="jumbotron space">
  <h1 class="text-center">BURN LIST</h1>
  <p class="text-center">Insurance Inventory Logger</p>
  <p class="text-center"><a class="btn btn-primary btn-lg" <%= link_to 'New Item', new_list_path %> </a></p>
</div>